body{
    background-color: var(--radio-color);
  }
  h1{
    text-decoration-color: var(--radio-color);
  }
  .edit{
    float: right;
    border: 2px solid transparent;
    color: white;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 4px;
  }
  .form-control{
    background-color: transparent;
    border: none;
  }
  .del{
    margin-right: 10px;
  }
  fieldset{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  input[type = "radio"]{
    appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    border: 2px solid;
    border-radius: 50%;
  }
  input[type = "radio"]:checked{
    background-color: var(--radio-color);
  }
  .input{
    background-color: #fff;
    border: 1px solid #00000030;
  }
  .changer{
    border: none;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    width: 30%;
  }
  #light{
    --radio-color:#50577A;
  }
  #dark{
    --radio-color:#00005cba;
  }
  #BabyPink{
    --radio-color:#C060A1;
  }
  #green{
    --radio-color:green;
  }
  #orange{
    --radio-color:orange;
  }
  :root:has(#orange:checked)
  {
    background-color: orange;
  }
  :root:has(#light:checked)
  {
    background-color: #50577A;
  }
  :root:has(#dark:checked)
  {
    background-color: #00005cba;
  }
  :root:has(#BabyPink:checked)
  {
  background-color: #C060A1;
  }
  :root:has(#green:checked)
  {

    background-color: green;
  }

  #show{
    border: 3px solid white;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
  }

  .upper-container{
    border: 3px solid white;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .head{
    text-align: center;
  }

  #search{
    padding: 5px 9px 5px 9px;
    border-radius: 4px;
    border: 1px solid white;
  }

  #button{
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
  }

  #button:active{
    transform: translate(0,0.3rem);
  }

  .control{
    margin-top: 20px;
    margin-bottom: 20px;
  }